
<div class="content normal-page">

  <div class="summary-row">
    <p>Substance</p><p class="value">Alcohol</p>
  </div>
  <div class="summary-row">
    <p>Days with no or less use (streak)</p><p class="value">12</p>
  </div>
  <div class="summary-row">
    <p>Current goal</p><p class="value">Abstinence</p>
  </div>
  <div class="summary-row">
    <p>Current level</p><p class="value">4</p>
  </div>
  <div class="summary-row">
    <p>Current experience points (XP)</p><p class="value">3.678</p>
  </div>
  <div class="summary-row">
    <p>Experience points (XP) until next level</p><p class="value">23</p>
  </div>
  <div class="summary-row">
    <p>Start date</p><p class="value">July 22, 2018</p>
  </div>
  <div class="summary-row">
    <p>Goal end date</p><p class="value">September 1, 2018</p>
  </div>

</div>
