<!-- main info component -->
<div class="main-info p-4">
  <h1 id="level">
    4
  </h1>
  <p>
    Current level
  </p>
  <div class="progress">
    <div class="progress-bar"
         role="progressbar"
         aria-valuenow=[(currentXP)]
         aria-valuemin="0"
         aria-valuemax=[(neededXP)]
         [ngStyle]="{'width': getCurrentXP()}">
      <!-- only span when user can not see the progress bar -->
      <span class="sr-only">{{ completed }}</span>
    </div>
  </div>
  <p id="nextlvl-xp">
    23 experience points (XP) until next level
  </p>
</div>
