@import "../../scss/main";

ons-toolbar {
   visibility: hidden;

  .center {
    visibility: visible;
    text-align: center;
  }

  .right, .left {
    visibility: visible;
  }
}

.main-info {
  height: 100%;
  display: grid;
  background: lightblue;

  .center-alignment {
    margin: auto;
    visibility: visible;
    text-align: center;
  }
}
