@import "../../scss/main";

ons-toolbar {
  visibility: hidden;

  .center {
    visibility: visible;
    text-align: center;
    font-size: $title-margin;
    font-family: $font-title;
  }

  .right, .left {
    visibility: visible;
  }
}

.main-info {
  height: 100%;
  display: grid;
  background: lightblue;

  .center-alignment {
    margin: auto;
    visibility: visible;
    text-align: center;

    #level {
      font-family: $font-title;
      font-size: 75px;
      height: 0;
      padding-bottom: 22px;
    }

    #current-lvl {

    }

    #needed-xp {

    }
  }
}
