<!-- Toolbar component -->
<div class="toolbar-page">
  <ons-toolbar>
    <div class="center">Dashboard</div>
    <div class="left">
      <ons-toolbar-button>
        <ons-icon icon="ion-navicon, material:md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="right">
      <ons-toolbar-button>
        <ons-icon icon="search"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
</div>
<div class="main-info">
  <div class="center-alignment">
    <p id="level">
      4
    </p>
    <p id="current-lvl">
      current level
    </p>
    <ons-progress-bar [value]="val" secondary-value="300"></ons-progress-bar>
    <p id="needed-xp">
      {{ needed_xp }} experience points (XP) until next level
    </p>
  </div>
</div>
