/* Reset file overrides default values */

html, body {
  position: relative;
  margin: 0; padding: 0;
}

.container-fluid {
  padding: 0;
}
.row {
  margin: 0;
}
.col-1 {
  padding: 0;
  text-align: center;
}
