/* Standards file for standard rules */

@import './typography';

html, body {
  height: 100%;
  width: 100%;
  background-color: white;

  .progress-bar--material__primary {
    background-color: $font-color-main-white;
  }

  .progress-bar--material__secondary {
    background-color: #7CB1AD;
    width: 100%;
    opacity: 22%;
  }
}
