/* Standards file for standard rules */

@import './typography';

$default-margin: 16px; // = same as bootstraps '3' value in p-3 and m-3

$color-accent: #009CFF;
$color-accent-for-gradient: #7CB1AD;

$font-color-main-dark: black;
$font-color-main-white: white;
$font-color-not-active: #80CEFF;

html, body {
  height: 100%;
  width: 100%;
  font-family: $default-font;
  font-size: 16px;
  padding: 0; margin: 0;

  h1 {
    font-size: 2.5rem;
    font-weight: 500;
  }
  h3 {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin: 0;
  }
  h5 {
    color: white;
    text-align: center;
    font-size: 1.1rem;
    margin: 0;
    font-weight: 300;

  }

  i {
    color: white;
  }


}
