/* Typography file for fonts e.g. */

<<<<<<< HEAD
$font-title: 'IBM Plex Sans', sans-serif;
$default-margin: 16px;
$title-margin: 28px;

$color-accent: #009CFF;
$color-accent-for-gradient: #7CB1AD;

$font-color-main-dark: black;
$font-color-main-white: white;
$font-color-not-active: #80CEFF;
=======
$default-font: 'Montserrat', sans-serif;
>>>>>>> 31dbbe2b85b67f28bc3dcb65351f8e3be9c61876
