/* Typography file for fonts e.g. */

@font-face {
  font-family: 'MontserratRegular';
  src: url("/../../font/montserrat/Montserrat-Regular.otf") format('opentype');
}

$font-main: 'MontserratRegular';
