@import '../../scss/main';

.toolbar {
  position: relative;
  border: none !important;
}

.summary-row {
  border-bottom: 1px solid grey;
  padding: $default-margin;

  p {
    display: inline-block;
    margin: 0;
  }
  p.value {
    color: grey;
    text-align: right;
    font: $font-main;
  }
}
